body {
    color:orange;
    background-color: lightgrey;
}

.mdl-grid {
    // background-color: grey;
    
    margin-top: 50px;
}

.mdl-cell {
    // color: white;
    background-color: white;
    border: 1px solid white;
}

.rba-header-second-row {
    background-color: gray;
    height: 30px !important;
}

.rba-main--large{
    background-color: white;
    height: 500px;
}