<!-- Textfield with Floating Label -->

<form action="#">

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label questionnaire-input-width">
    <textarea class="mdl-textfield__input" type="text" id="input-question-name" value=""></textarea>
    <label class="mdl-textfield__label" for="input-question-name">Question</label>
  </div>

  <!-- Select with floating label -->
  {{!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
    <select class="mdl-textfield__input" id="input-question-type" name="type">
      <option></option>
      <option value="Date">Date</option>
      <option value="Number">Number</option>
      <option value="Text">Open text</option>
      <option value="Option">Option</option>
      <option value="String">Short Answer</option>
      <option value="yesNo">Yes/No</option>
    </select>
    <label for="input-question-type" class="mdl-textfield__label questionnaire-input-width ">Type</label>
  </div> --}}

  {{!-- <div class="type-options"> --}}

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select quest-card__input--100px">
      <input type="text" value="" class="mdl-textfield__input" id="input-question-type" readonly>
      <input type="hidden" value="" name="input-question-type">
      {{!-- <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i> --}}
      <label for="input-question-type" class="mdl-textfield__label">Type</label>
      <ul for="input-question-type" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
        <li class="mdl-menu__item" data-val="Date">Date</li>
        <li class="mdl-menu__item" data-val="Number">Number</li>
        <li class="mdl-menu__item" data-val="Text">Open Text</li>
        <li class="mdl-menu__item" data-val="Option">Option</li>
        <li class="mdl-menu__item" data-val="String">Short Answer</li>
        <li class="mdl-menu__item" data-val="yesNo">Yes / No</li>
      </ul>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
      <input type="text" value="" class="mdl-textfield__input" id="input-option-list" readonly>
      <input type="hidden" value="" name="input-option-list">
      {{!-- <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i> --}}
      <label for="input-option-list" class="mdl-textfield__label">Option List</label>
      <ul for="input-option-list" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
        <li class="mdl-menu__item" data-val="Date">Marital Status</li>
        <li class="mdl-menu__item" data-val="Number">Education Level</li>
        <li class="mdl-menu__item" data-val="Text">Open Text</li>
        <li class="mdl-menu__item" data-val="Option">Option</li>
        <li class="mdl-menu__item" data-val="String">Short Answer</li>
        <li class="mdl-menu__item" data-val="yesNo">Yes / No</li>
      </ul>
    </div>

  <div id='question-information'>Does this question depend on the answer to a previous question?</div>

  <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="toogle-conditional-active" id="label-conditional-switch">
    <input type="checkbox" id="toogle-conditional-active" class="mdl-switch__input" checked>
    <span class="mdl-switch__label">Conditional</span> 
    {{!-- <span class="mdl-switch__label" id="conditional-label"> </span> --}}
  </label>

<div id="conditional-block" class="">

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label quest-card__input--100px">
    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="conditional-question-id">
    <label class="mdl-textfield__label" for="conditional-question-id">Question ID</label>
    <span class="mdl-textfield__error">Invalid Id</span>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="conditional-answer">
    <label class="mdl-textfield__label" for="conditional-answer">Conditional Answer</label>
  </div>
</div>

  <div id='question-information'>Inform the status of this question. Only active questions will be displayed.</div>

  <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="toogle-question-active" id="label-question-active-switch">
    <input type="checkbox" id="toogle-question-active" class="mdl-switch__input" checked>
    <span class="mdl-switch__label">Inactive</span>
  </label>

  <div class="quest-form-submit u-margin-top-medium u-center-text">
    <button id="question-submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent hidden">
      Submit
    </button>
    <button id="question-edit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent hidden">
      Edit
    </button>
    <button id="question-save" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent hidden">
      Save
    </button>
    <button id="question-cancel" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent hidden">
      Cancel
    </button>
    <button id="question-delete" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent hidden">
      Delete
    </button>
  </div>
</form>