  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Immi2Canada</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/login">login</a>
      <a class="mdl-navigation__link" href="">Express Entry</a>
      <a class="mdl-navigation__link" href="">Draws</a>
      <a class="mdl-navigation__link" href="">Simulator</a>
    </nav>
  </div>