<div class="quest-layout mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-100">

  {{> admin/nav/header}}

  {{> admin/nav/drawer}}

  {{> admin/content}}

  {{!-- {{> admin/footer}} --}}


</div>

<script src="js/admin.js"></script>