<div class="quest-layout mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-100">

  {{> main/nav/header}}

<<<<<<< HEAD
  {{> main/nav/drawer}}

  {{> main/content}}
=======

  {{> nav/drawer}}

  {{> main/questionnaire}}
>>>>>>> AshDev

  {{> main/footer}}


</div>