    <div class="questionnaire-header mdl-layout__header">
        <h2>Questionnaire</h2>
    </div>
    <div class="questionnaire-form mdl-layout--fixed-drawer">
        <form id="questionnaire" class="mdl-cell--N-col">
            <br>
            {{#each questionData}}
            <strong>{{dataValues.id}}.</strong>
            <strong>{{dataValues.questionEn}}</strong> <br>
            <select id="responseDropDown">
            {{#each dataValues.AuxOptions}}
            <option value="{{id}}">{{optionEn}}</option>
            {{/each}}
            </select> <br> <br>
            {{/each}}
            <br>
            <input type="submit" value="Submit" id="submit-button"></input>
            <br>
        </form>
    </div>
<script>
    
</script>
