<div class="header">
    <h2>Questionnaire</h2>
</div>
<div class="questionnaire-form">
    <form>
        {{#each questionData}}
        {{dataValues.id}}.
        {{dataValues.questionEn}} <br>
        <select>
        {{#each dataValues.AuxOptions}}
        <option value="{{id}}">{{optionEn}}</option>
        {{/each}}
        </select> <br>
        {{/each}}
    </form>
</div>

