<div class="header">
    <h2>Questionnaire</h2>
</div>
<div class="questionnaire-form">
    <form>
        {{#each auxiliar}}
        {{id}}
        {{questionEn}} <br>
        {{/each}}
    </form>
</div>

