.quest-admin{
    // background-color: darkslategrey;
    // margin-top: 30rem;
}

.quest-card{
    position: absolute;
    // max-width: 400px;
    max-height: 800px;

    &__container{
        padding: 1rem;
    };

    &__questions{

    };

    &__questionnaire{

    }

    &__title{
        color: blue;
    }

    &__list{
        width: 100%;

        &--questionnaires > li{
            cursor: pointer;
        }
    }

    a {
        text-decoration: none;
        display: block;

    }
}



// .quest-create {
//     float: right;
//     position: relative;
//     right: 0;
//     top: 0;
// }

// .mdl-card.quest-card{
//     padding: 2rem;
// }
.mdl-textfield.questionnaire-input-width{
    width: 100%;
}

.mdl-button.quest-button--top-right{
    position: absolute;
    z-index: 10;
    top: 20px;
    right:20px;
}

a.mdl-list__item-secondary-action{
    // text-decoration: none;
    color: black;
    // width: 100%;
}

li.questionnaire-listed>span{
    cursor: pointer;
}

