.quest-admin{
    // background-color: darkslategrey;
    // margin-top: 30rem;
}

.mdl-list__item-avatar{
    font-size: 24px !important;
    padding-top: 8px;
    text-align: center;
    
}

.quest-card{
    // position: absolute;
    // max-width: 400px;
    // height: 80vh;

    &__container{
        padding: 1rem;
    };

    &__questions{
        // overflow: auto;

        & > .quest-card__title {
            position: fixed;
            width: 100%;
        };


    };

    &__questionnaire{

    }

    &__title{
        background-color: $primary-color;
        color: $primary-color-text;
        padding: 40px 20px 20px 20px;
        margin: 0;
        border-top-right-radius: 20px;
    }

    &__list{
        width: 100%;

        &--questionnaires {
            // background-color: yellow;
            padding: 0;

            & > li {
                cursor: pointer;
            }
        }

        &--questions{
                margin-top: 80px;
        }
        // &--questionnaires > li{
           
        // }
    }

    a {
        text-decoration: none;
        display: block;

    }
}

.quest-button.mdl-button{
    background-color: $accent-color;
}

// .quest-create {
//     float: right;
//     position: relative;
//     right: 0;
//     top: 0;
// }

// .mdl-card.quest-card{
//     padding: 2rem;
// }
.mdl-textfield.questionnaire-input-width{
    width: 100%;
}

.mdl-button.quest-button--top-right{
    position: absolute;
    z-index: 10;
    top: 20px;
    right:20px;
}

a.mdl-list__item-secondary-action{
    // text-decoration: none;
    color: black;
    // width: 100%;
}

li.questionnaire-listed>span{
    cursor: pointer;
}

