.quest-container {
  max-width: 900px;
  margin:auto;
}


.quest-card-square.mdl-card {
    // width: 800px;
    height: 20rem;
    width: 20rem;
    margin: 1rem auto 0 auto;
  }
  
  .quest-card-square > .mdl-card__title {
    background-color: black;
    color: white;
    
    background: url('../images/background.png') center / cover;
  }
  .quest-card-square > .mdl-card__menu {
    color:black;
  }



