.quest-container {
  max-width: 900px;
  margin: auto; }

.quest-card-wide.mdl-card {
  width: 800px;
  margin: 5rem auto 0 auto; }

.quest-card-wide > .mdl-card__title {
  color: #fff;
  height: 20rem; }

.quest-card-wide > .mdl-card__menu {
  color: #fff; }

.express {
  background: url("../images/red-flag.jpg") center/cover; }

.eTA {
  background: url("../images/eTA.jpg") center/cover; }

.quest-card {
  position: absolute;
  max-height: 800px; }
  .quest-card__container {
    padding: 1rem; }

.mdl-textfield.questionnaire-input-width {
  width: 100%; }

.mdl-button.quest-button--top-right {
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 20px; }

a.mdl-list__item-secondary-action {
  color: black; }

li.questionnaire-listed > span {
  cursor: pointer; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.mdl-layout__content {
  width: 100%;
  margin: 0 auto;
  background-color: aqua; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }
