<div class="mdl-card {{#unless registered}} hidden {{/unless}}">
    <div class="mdl-card__title">
        Login to Quest
    </div>

    <div class="mdl-card__supporting-text">

        <form action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="email">
                <label class="mdl-textfield__label" for="email">email</label>

            </div>


            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="password">
                <label class="mdl-textfield__label" for="password">password</label>

            </div>
        </form>

    </div>
    <div class="mdl-card__actions">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
            Login
        </button>

        <button class="mdl-button mdl-js-button  mdl-js-ripple-effect">
            Cancel
        </button>
    </div>
    <div class="quest-create-account">
        <a href="#" id="linkCreateAcc">create your account</a>
    </div>
</div>