<div class="mdl-card {{#if registered}} hidden {{/if}}">
    <div class="mdl-card__title">
        Create your account
    </div>

    <div class="mdl-card__supporting-text">

        <form action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="email">
                <label class="mdl-textfield__label" for="email">email</label>

            </div>


            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="password">
                <label class="mdl-textfield__label" for="password">password</label>

            </div>
        </form>

    </div>
    <div class="mdl-card__actions">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
            Sign Up
        </button>

        <button class="mdl-button mdl-js-button  mdl-js-ripple-effect quest-btn--cancel">
            Cancel
        </button>
    </div>
    <div class="quest-create-account" id="linkLogin">
        <a href="#">log in</a>
    </div>
</div>