<div class="mdl-card {{#if registered}} hidden {{/if}}">
    <div class="mdl-card__title">
        Create your account
    </div>

    <div class="mdl-card__supporting-text">

        <form class="signup">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="emailInputSignUp">
                <label class="mdl-textfield__label" for="emailInputSignUp">email</label>

            </div>


            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="passwordInputSignUp">
                <label class="mdl-textfield__label" for="passwordInputSignUp">password</label>

            </div>

            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary ">
                Sign Up
            </button>

            <button class="mdl-button mdl-js-button  mdl-js-ripple-effect quest-btn--cancel">
                Cancel
            </button>
        </form>

    </div>
    <div class="mdl-card__actions">

    </div>
    <div class="quest-create-account" id="linkLogin">
        <a href="#">log in</a>
    </div>
</div>