html {
    //defines what 1rem means
    font-size: 62.5%;

}

body {
    box-sizing: border-box;
}

.mdl-layout__content {}

.mdl-layout {

    &__content {
        width: 100%;
        margin: 0 auto;
        // max-width: 120rem;
    }
}

.quest-header.mdl-layout__header{
    background-color: $primary-color-dark;
}
