html {
    //defines what 1rem means
    font-size: 62.5%;

}

body {
    box-sizing: border-box;
}

.mdl-layout__content{
    // max-width: 160rem;
    width: 100%;
    margin: 0 auto;
    background-color: aqua;
}
