<main class="quest-admin mdl-layout__content">
   <div class="mdl-grid questionnaires-grid">


      <div class="mdl-card mdl-cell mdl-cell--4-col quest-card quest-card--questionnaire">
         <div class="quest-card__list">
            <h5 class="quest-card__title">Questionnaires List</h5>
            <!-- Colored FAB button with ripple -->
            <button id="btn-create-questionnaire" class="quest-button  mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab quest-button--top-right">
               <i class="material-icons">add</i>
            </button>

            <div>
               <ul class="quest-card__list--questionnaires">

               </ul>
            </div>
         </div>
      </div>

      <div class="mdl-card mdl-cell mdl-cell--4-col quest-card">
         <div class="quest-card__questionnaire">
            <h5 class="quest-card__title">Selected Questionnaire</h5>
            <button id="btn-close-questionnaire" class="mdl-button quest-button mdl-button--fab mdl-button--mini-fab mdl-js-button quest-button--top-right hidden">
               <i class="material-icons">close</i>
            </button>


            <div class="quest-card__container hidden">

               {{> admin/components/questionnaire-create}}

            </div>
         </div>
      </div>
      <div class="mdl-card mdl-cell mdl-cell--4-col quest-card">
         <div class="quest-card__questions">
            <h5 class="quest-card__title">Questions</h5>

            <button id="btn-create-question" class="quest-button  mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab quest-button--top-right hidden">
               <i class="material-icons">add</i>
            </button>

            <div class="questions-list">
               <ul class="mdl-list quest-card__list--questions">

               </ul>
            </div>
         </div>
      </div>


      <div class="mdl-card mdl-cell mdl-cell--4-col quest-card quest-card__detailed-questions hidden">
         <div class="quest-card__detailed-questions">
            <h5 class="quest-card__title">Question Detail</h5>

            <div class="questions-list">
               {{> admin/components/questions}}

            </div>
         </div>
      </div>
   </div>

</main>