<main class="quest-admin mdl-layout__content">
   <div class="mdl-grid questionnaires-grid">


      <div class="mdl-card mdl-cell mdl-cell--4-col quest-card">
         <div class="quest-card__list">
            <h5 class="quest-card__title">Questionnaires</h5>
            <!-- Colored FAB button with ripple -->
            <button id="btn-create-questionnaire"
               class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored quest-button--top-right">
               <i class="material-icons">add</i>
            </button>

            <div>
               <ul class="quest-card__list--questionnaires">
                  {{!-- {{#each questionnaires}} --}}
                  {{!-- {{> admin/components/questionnaire-list}} --}}
                  {{!-- {{/each}} --}}
               </ul>
            </div>
         </div>
      </div>

      <div class="mdl-card mdl-cell mdl-cell--4-col quest-card">
         <div class="quest-card__questionnaire hidden">
            <h5 class="quest-card__title">Questionnaire</h5>
            <button id="btn-close-questionnaire" class="mdl-button mdl-js-button quest-button--top-right">
               <i class="material-icons">close</i>
            </button>


            <div class="quest-card__container">

               {{> admin/components/questionnaire-create}}

            </div>
         </div>
      </div>
      <div class="mdl-card mdl-cell mdl-cell--4-col quest-card">
         <div class="quest-card__questions">
            <h5 class="quest-card__title">Questions</h5>

            <div class="questions-list">
               <ul class="mdl-list quest-card__list--questions r">
                 
               </ul>
            </div>
         </div>
      </div>
   </div>

</main>