<main class="quest-admin mdl-layout__content">
   <div class="mdl-grid questionnaires-grid">

      <div class="mdl-card mdl-cell mdl-cell--4-col">

         <h3>Questionnaires</h3>
         <h4 id="rafa"></h4>


         <div id="questionnaires-list-container">

         </div>

       </div>
      <div class="mdl-card mdl-cell mdl-cell--8-col">

     

      </div>
   </div>

</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>
         <script id="questionnaire-list-template" type="text/x-handlebars-template">
         <ul class="demo-list-three mdl-list">
            {{#each questionnaires}}
               {{> admin/components/questionnaire-list}}
            {{/each}}

         </ul>
         </script>